#main {
	
	width: 100px;
	height: 100px;
	background-color: green;
	
	position: relative;
	
	

	
	
	
	animation-name: tuhin;
	
	animation-duration: 2s;
	
	animation-iteration-count: infinite;
	
	animation-direction: alternate;
	
	
	animation-delay: 1s;
	
	
	
	-webkit-animation-name: tuhin;
	
	-webkit-animation-duration: 2s;
	
	-webkit-animation-iteration-count: infinite;
	
	-webkit-animation-direction: alternate;
	
	-webkit-animation-delay: 1s;
	
	
	-moz-animation-name: tuhin;
	
	-moz-animation-duration: 2s;
	
	-moz-animation-iteration-count: infinite;
	
	-moz-animation-direction: alternate;
	
	-moz-animation-delay: 1s;
	
	
}

@keyframes tuhin  {
	
	from {left: 0;}
	to {left: 200px;}


}
-webkit-@keyframes tuhin  {
	
	from {left: 0;}
	to {left: 200px;}
}




-moz-@keyframes tuhin  {
	
	from {left: 0;}
	to {left: 200px;}
}
