#para1 {
	
	background-color: green;
	height: 100px;
	width: 100px;
	position: relative;
	
	z-index: 10;
}

#para2 {
	
	background-color: red;
	height: 100px;
	width: 100px;
	margin-left: 50px;
	margin-top: -20px;
	position: relative;
	
	z-index: 7;
}

#para3 {
	
	background-color: yellow;
	height: 100px;
	width: 100px;
	margin-left: 100px;
	margin-top: -20px;
	position: relative;
	
	z-index: 8;

}