#div1 {
	
	height: 300px;
	width: 300px;
	background-color: green;
	
	margin: 20px;
}

#div1:hover {
	
	width: 200px;
	height: 200px;
	
	background-color: red;
}

h2 {
	
	color: blue;
}

h2:hover {
	
	color: green;
	font-size: 300%;
}