#main {
	
	width: 100px;
	height: 100px;
	background-color: green;
	
	margin: 300px auto;
	
	animation-name: tuhin;
	
	
	animation-name: tuhin;
	
	animation-duration: 2s;
	
	animation-iteration-count: 4;
	
	
	
	
	-webkit-animation-name: tuhin;
	
	-webkit-animation-duration: 2s;
	
	-webkit-animation-iteration-count: 4;
	
	
	
	
	
	-moz-animation-name: tuhin;
	
	-moz-animation-duration: 2s;
	
	-moz-animation-iteration-count: 4;
	
	
	
	
	
}

@keyframes tuhin  {
	
	0%{background-color: green;}
	20%{background-color: red;}
	40%{background-color: yellow;}
	60%{background-color: pink; width: 200px; height: 200px;}
	80%{background-color: orange;}
	100%{background-color: green;}
}



-webkit-@keyframes tuhin  {
	
	0%{background-color: green;}
	20%{background-color: red;}
	40%{background-color: yellow;}
	60%{background-color: pink; width: 200px; height: 200px;}
	80%{background-color: orange;}
	100%{background-color: green;}
}




-moz-@keyframes tuhin  {
	
	0%{background-color: green;}
	20%{background-color: red;}
	40%{background-color: yellow;}
	60%{background-color: pink; width: 200px; height: 200px;}
	80%{background-color: orange;}
	100%{background-color: green;}
}
