body {
	
	background-color: #9c9f84;
	margin: 0;
	font-family: Georgia, Verdana, serif, Arial, Arial Black;
	font-size: 14px;
}

.div1 {
	
	background-color: #5c755e;
	margin: 10px;
	height: 90px;
	border-radius: 10px;
	
}

.div2 {
	
	background-color: #5c755e;
	margin: 10px;
	height: 35px;
	border-radius: 10px;
	
}

.div3 {
	
	background-color: #e5e4d7;
	margin: 10px;
	border-radius: 10px;
	padding: 20px;
	font-size: 110%;
	text-align: justify;
	
}

h1 {
	
	color: red;
	font-size: 120%;
}
























