#manu {
	
	padding: 0;
	list-style-type: none;
	width: 960px;
	margin: 0 auto;
	background-color: #5c755e;
	border-bottom: 3px solid orange;
	min-height: 38px;
}

#manu li {
	
	float: left;
	
	border-right: 1px solid orange;
	background-color: #5c755e;
	
	position: relative;
	
}

#manu li:last-child {
	
	border-right: none;
}

#manu li a {
	
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	color: #e5e4d7;
}

#manu li a:hover {
	
	background-color: #e5e4d7;
	color: #5c755e;
}

#manu li ul {
	
	list-style-type: none;
	padding: 0;
	
	position: absolute;
	left: -99999px;
}

#manu li:hover ul {
	
	left: 0px;
	
}

#manu li ul li {
	
	width: 200px;
	border-right: none;
	border-bottom: 1px solid orange;
	border-left: 1px solid orange;
	
	
	position: relative;
}

#manu li ul li:last-child {
	
	border-bottom: none;
}

#manu li ul li ul {
	
	position: absolute;
	top: -99999px;
}

#manu li ul li:hover ul {
	
	top: 0;
	left: 200px;
}
