*{
	
	margin: 0px;
	padding: 0px;
}

.div1 {
	
	width: 960px;
	margin: 50px auto;
	
}

.text1 {
	
	width: 300px;
	float: left;
	margin-right: 30px;
}

h2 {
	
	color: orange;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
}

p {
	
	text-align: justify;
}

img {
	
	width: 300px;
	height: 180px;
}

.margin {
	
	margin-right: 0px;
}

a {
	
	text-decoration: none;
	text-align: center;
	display: block;
	background-color: #e5e4d7;
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 20px;
	
	transition: all 2s ease;
	margin-top: 10px;
}

a:hover {
	
	background-color: #5c755e;
	color: yellow;
}