#manu {
	padding: 0;
	list-style-type: none;
	height: 38px;
	
}

#manu li {
	
	float: left;
	border-right: 1px solid orange;
	border-bottom: 3px solid orange;
}

#manu li:last-child {
	
	border-right: none;
}

#manu li a {
	
	text-decoration: none;
	background-color: #dadada;
	color: #5c755e;
	padding: 10px 20px;
	
	display: block;
	
	
	transition: all .5s ease;
}

#manu li a:hover {
	
	background-color: #5c755e;
	color: #dadada;
}