body {
	
	color: red;
	font-size: 10px;
}

h1, h2{
	
	font-family: inherit;
	color: green;
	font-size: 25px;
}

.para1 {
	
	font-family: Georgia;
	color: blue;
	font-size: 25px;
}

.para2 {
	
	font-family: serif;
	color: yellow;
	font-size: 25px;
}

h1 {
	
	border-bottom: 3px solid black;
	color: black;
}

h2 {
	
	border-top: 3px solid black;
	font-size: 30px;
}
