.para1 {
	
	border-style: solid;
	border-width: 5px;
	border-color: green;
}

.para2 {
	
	border-style: dotted;
	border-width: 5px;
	border-color: black;
}

.head1 {
	
	border-style: dashed;
	border-width: 5px;
	border-color: black;
}

.head2 {
	
	border-style: solid;
	border-width: 5px;
	border-color: green;
}

.head3 {
	
	border-style: default;
	border-width: 5px;
	border-color: green;
}