* {
	
	padding: 0;
	margin: 0;
	
}


body {
	
	background-color: cadetblue;
	width: 960px;
	margin: 20px auto;
}

table,th,td{
	
          text-align: center;
		  align: center;		  
          width: 650px;		  
          border: 1px solid seashell;
          border-collapse: collapse;
          border-spacing: 10px;
          background-color: cornflowerblue;
          cellpadding: 5;
          color: black;
		  font-size: large;
                
        }
			
	
th{
			
		font-size: 20px;
				
  }

#head {
	
	background-color: dimgrey;
	height: 50px;	
	border-bottom: 5px solid #6B710E;
	border-radius: 10px;
	
}

#head h2 {
	
	color: cornsilk;
	font-family: Georgia;
	text-align: center;
	padding-top: 10px;
	font-size: 28px;
	
}  
			
			
#nav {
	
	background-color: bisque;
	border-bottom: 5px solid #6B710E;	
	height: 40px;
	border-radius: 10px;
	
}

#nav ul {
	
	list-style-type: none;
	background-color: #FFFFFF;
	
	
}

#nav ul li {
	
	float: left;
	border-right: 1px solid #6B710E;
	z-index: 99999;
	border-radius: 0px 50px;
	
}



#nav ul li a {
	
	text-decoration: none;
	
	padding: 10px 20px;
	font-size: 1.3em;
	color: #6B710E;
	display: block;
	
	
	
}

#nav ul li a:hover {
	
	color: blue;
	border-radius: 50px 0px;
	
}


#main{
	text-align: center;
	padding-left: 150px;
	
}

#img{
	text-align: center;
	border-radius: 10px;
}
			
#name{
	
	font-size: 30px;
	color: crimson;
}

#dis{
	text-align: center;
	
}			
 
#team{
	
} 

#sb{
	
	padding-right: 130px;
	}