*{
	
	padding: 0;
	margin: 0;
}

#car{
	
	height: 100vh;
	width: 100%;
	background-image: url(../images/sky.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.road{
	
	height: 200px;
	width: 500%;
	background-image: url(../images/road.jpg);	
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: block;
	animation: road 5s linear infinite;
	background-repeat: repeat-x;
	
}

@keyframes road{
	
	100%{
		
		transform: translateX(-3400px);
	}
}


.building{
	
	height: 300px;
	width: 500%;
	background-image: url(../images/building.png);	
	position: absolute;
	left: 0;
	right: 0;
	bottom: 150px;
	z-index: 1;
	display: block;
	animation: building 20s linear infinite;
	background-repeat: repeat-x;
	
}


@keyframes building{
	
	100%{
		
		transform: translateX(-1400px);
	}
}


.volvo{
	
	width: 400px;
	left: 40%;
	bottom: 10px;
	z-index: 2;
	position: absolute;
	transform: translateX(-50%);
}

.volvo img{
	
	animation: volvo 1s linear infinite;
}

@keyframes volvo{
	
	100%{
		
		transform: translateY(-1px);
	}
	
	50%{
		
		transform: translateY(1px);
	}
	
	0%{
		
		transform: translateY(-1px);
	}
}


.wheel{
	
	
	left: 40%;
	bottom: 170px;
	z-index: 2;
	position: absolute;
	transform: translateX(-50%);
	
}

.wheel img {
	
	width: 125px;
	height: 125px;
	animation: wheel 1s linear infinite;
}

.first{
	
	left: -61px;
	position: absolute;
}

.second{
	
	left: 327px;
	position: absolute;
}


@keyframes wheel{
	
	100%{
		
		transform: rotate(360deg);
		
	}
}

.pep{
	
	width: 300px;
	height: 300px;
	left: 75%;
	bottom: 10px;
	z-index: 1;
	top: 200px;
	position: absolute;
	transform: translateX(-50%);
}

.pep img{
	
	animation: pep 3s linear infinite;
	width: 300px;
	height: 300px;
	bottom: 10px;
}


@keyframes pep{
	
	100%{
		
		transform: rotate(180deg);;
	}
	
}



.up{
	
	
	left: 46%;
	bottom: 310px;
	z-index: 1;
	position: absolute;
	transform: translateX(-50%);
	
}

.up img {
	
	width: 225px;
	height: 105px;
	border-radius: 15px;
	
}


.name{
	
	
	left: 58%;
	bottom: 168px;
	z-index: 2;
	position: absolute;
	transform: translateX(-50%);
	
}

.name img {
	
	width: 75px;
	height: 33px;
	border-radius: 5px;
	
}


.girls{
	
	
	left: 7%;
	bottom: 188px;
	z-index: 1;
	position: absolute;
	transform: translateX(-50%);
	
}

.girls img {
	
	width: 250px;
	height: 100px;
	border-radius: 5px;
	
}


.bil{
	
	
	left: 93%;
	bottom: 0px;
	z-index: 2;
	position: absolute;
	transform: translateX(-50%);
	
}

.bil img {
	
	width: 200px;
	height: 300px;
	border-radius: 5px;
	
}



