a {
	color: green;
	text-decoration: none;
}

a:hover {
	
	color: pink;
	text-decoration: underline;
}

a:visited {
	
	color: blue;
	text-decoration: none;
}

a:active {
	
	color: red;
	text-decoration: underline;
}