body {
	
	color: blue;
	font-size: 20px;
	font-family: Georgia, Arial, serif, inherit, Arial Black, Verdana;
	font-weight: bold;
	
}

.para1 {
	
	color: red;
}

.para2 {
	
	color: green;
}

.underline {
	
	text-decoration: underline;
}