#div1 {
	
	height: 300px;
	width: 300px;
	background-color: green;
	
	transition: width 2s ease-in-out, background-color 3s ease-in-out;
}

#div1:hover {
	
	width: 500px;
	height: 500px;
	background-color: red;
}