body {
	
	font-family: Vardana;
	font-size: 30px;
	color:#666;
	background-color: #e5e4d7;
}

h1, h2 {
	
	background-color: purple;
	color: black;
	//border-bottom: 1px solid red;
	border: 5px groove blue;
}

h1, h2 {
	
	color: #e7e7e7;
}

.para1 {
	
	color: #ffcf79;
}

.para2 {
	
	color: powderblue;
}