#div1 {
	
	width: 500px;
	height: 400px;
	background-color: green;
	float: left;
	//background: linear-gradient(red, orange);
	//background: linear-gradient(red, orange 20%);
	//background: linear-gradient(yellow 50%, green 50%);
	//background: linear-gradient(to left, yellow, green);
	//background: linear-gradient(to right, yellow, green);
	//background: linear-gradient(to top right, yellow, green);
	background: linear-gradient( 30deg,yellow, green);
}