body {
	
	background-color: #e5e4d7;
	color: red;
	font-size: 25px;
	background-image: url(web.jpg);

	
}

#div1 {
	
	color:black;
}

#div2 {
	
	color:black;
}


.ha{
	
	background-color: purple;
	color: green;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 17px;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 5px;
	margin-top: 2px;
	border-color: #000;
	border-style: tink;
	border-width: 3px;
	text-align: left;
	//border-bottom-right-radius: 40px;
		border-radius: 40px;
}


.na{
	
	background-color: purple;
	//color: green;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 17px;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 5px;
	margin-top: 2px;
	border-color: #000;
	border-style: groove;
	border-width: thick;
	text-align: right;
	border-bottom-left-radius: 40px;
}


.ba{
	
	background-color: purple;
	color: green;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 17px;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 5px;
	margin-top: 2px;
	border-color: #000;
	border-style: solid;
	border-width: medium;
	text-align: center;
	border-top-left-radius: 40px;
}

a:link {
	
	color: black;
}


a:visited {
	
	color: red;
}

a:hover {
	
	color: purple;
}



h2 {
	
	background-color: gray;
	color: black;
	//border-top-right-radius: 30px;
	
}

.para2 {
	
	background-color: powderblue;
	//color: black;
	padding: 10px;
	margin: 20px;
	border: 3px dotted green;
	
	
}


#para3 {
	
	background-color: #BDB76B;
	color: green;
	padding: 10px;
	margin-left: 500px;
	border: 3px dotted green;
	
	
}