ul {
	
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li a {
	
	background-color: #5c755e;
	color: white;
	font-family: Georgia;
	display: block;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	width: 80px;
	border: 3px solid black;
	text-align: center;
	height: 20px;
	line-height: 20px;
	border-radius: 30px;
}

ul li a:hover {
	
	background-color: #d3d3d3;
	color: black;
}