h1 {
	
	background-color: #e5e4d7;
	color: gray;
}

h2 {
	
	background-color: #e5e4d7;
	color: gray;
}

div {
	
	background-color: #e5e4d7;
	color: gray;
}

p.test {
	
	background-color: #000;
	color: #cfcfcf;
	border: thick groove powderblue;
}

