#div1 {
	
	height: 300px;
	width: 300px;
	background-color: green;
	
	transition: all 1s ease-in-out;
}

#div1:hover {
	
	width: 500px;
	height: 500px;
	background-color: red;
	
	transform: scale(3,5);
}