body {
	
	background-color: #e5e4d7;
	color: #e7e7e7;
	font-size: 25px;
	
}


h1 {
	
	background-color: purple;
	color: green;
}

h2 {
	
	background-color: gray;
	color: black;
}

.para2 {
	
	background-color: powderblue;
	color: black;
	padding: 10px;
	margin: 20px;
	border: 3px dotted green;
	
}


.para3 {
	
	background-color: #BDB76B;
	color: black;
	padding: 10px;
	margin-left: 500px;
	border: 3px dotted green;
	
	
}