table, th, td{
	
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 10px;
	
	
}

th, td {
	
	padding: 15px;
	text-align: center;
}

th {
	
	text-align: left;
}
tr:nth-child(even) {
	
	background-color: green;
}


