#para1 {
	
	border-radius: 10px;
	border-style: groove;
	border-width: 2px;
	border-color: #ffcf79;
}

#para2 {
	
	
	border-top-right-radius: 20px;
	border-bottom-right-radius: 60px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 90px;
	
	border-style: groove;
	border-width: 2px;
	border-color: #ffcf79;
}