h1, h2{
	
	font-family: Verdana;
	color: green;
	font-size: 25px;
}

p {
	
	font-family: Georgia;
	color: blue;
	font-size: 25px;
}

h1 {
	
	border-bottom: 3px solid black;
}

h2 {
	
	border-top: 3px solid black;
}
