.para1 {
	
	font-family: Arial;
	font-size: 25px;
	//font-variant: small-caps;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}

.para2 {
	
	font-family: Verdana;
	font-size: 2em;
	//font-variant: small-caps;
	text-transform: lowercase;
	font-weight: bold;
	font-style: italic;
}

.para3 {
	
	font-family: Georgia;
	font-size: 150%;
	//font-variant: landscape;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}