p {
	
	color: blue;
	text-decoration: line-through;
}

.para1 {
	
	color: green;
	text-decoration: overline;
}

#para2 {
	
	color: red;
	text-decoration: underline;
}

.tuhin {
	
	text-decoration: underline overline line-through;
}